<ion-header>
  <ion-toolbar>
    <ion-title>Play video</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <video *ngIf="video.type !== 'youtube'" [src]="video.url" autoplay controls
style="width: 100%; height: 100%;"></video> 
   <iframe *ngIf="video.type === 'youtube'" style="width: 100%; height: 100%;"
id="ytplayer" type="text/html" [src]="domSanitizer.bypassSecurityTrustResourceUrl(video.url)" frameborder="0" width="100%"
height="100%"></iframe>
</ion-content>